* {
    margin: 0;
    padding: 0;
}

.header {
    position: fixed;
    background-color: var(--clr);
    height: 70px;
    z-index: 1000;
    width: 100%;
    top: 0;
    color: #fff;
    padding: 10px;
}

.in-header-content {
    max-width: 1200px;
    margin: 0 auto;
}

.search-container {
  position: relative;
  float: right;
  margin-top: 4px;
  left: 315px;
}

form {
  position: relative;
  width: 300px;
  margin: 0 auto;
  border-radius: 10px;
}

.d3 {
    width: 300px;
}

.d3 form {
    background: #d1e1f9;;
}

.d3 input,
.d3 button {
    border: none;
    outline: none;
    background: transparent;
}

.d3 input {
    width: 100%;
    height: 40px;
    padding-left: 15px;
}

.d3 button {
    height: 45px;
    width: 45px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

.d3 button:before {
    content: "";
    font-family: FontAwesome;
    font-size: 16px;
    color: #F9F0DA;
}

.search-icon {
    color: #273655;
}

.header-link {
    position: absolute;
    height: 70px;
    display: flex;
    align-items: center;
    font-size: 2em;
    color: #d1e1f9;
    padding-left: 15px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    transition: 0.5s;
    text-decoration: none;
    top: 0;
}

.header-link:hover {
    color: white;
    text-shadow: 0 0 5px #d1e1f9;
}


@media (max-width: 1280px) {
    .header-link{
        left: 65px;
    }
}
.admin-link {
    width: 140px;
    left: 1380px;
    position: absolute;
    background-color: #1e1e26;
    border-radius: 15px;
    height: 50px;
}
.header ul li a .text {
    position: relative;
    height: 70px;
    display: flex;
    align-items: center;
    font-size: 1em;
    color: #d1e1f9;
    padding-left: 15px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    transition: 0.5s;
    text-decoration: none;
    margin-top: -12.5px;
    margin-left: 25px;
}