* {
    margin: 0;
    padding: 0;
}

.header {
    position: fixed;
    background-color: #1e1e269f;
    backdrop-filter: blur(40px);
    height: 70px;
    z-index: 1000;
    width: 100%;
    top: 0;
    color: #fff;
    padding: 10px;
}

.in-header-content {
    max-width: 1200px;
    margin: 0 auto;
}

.search-container {
  position: relative;
  float: right;
  margin-top: 4px;
}

form {
  position: relative;
  width: 300px;
  margin: 0 auto;
  border-radius: 10px;
}

.d3 {
    width: 300px;
}

.d3 form {
    color: white;
    background-color: #2e2e38;
}

.d3 input,
.d3 button {
    border: none;
    outline: none;
    background: transparent;
    color: #dfdfdf;
}

.d3 input {
    width: 100%;
    height: 40px;
    padding-left: 15px;
}

.d3 button {
    height: 45px;
    width: 45px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

.d3 button:before {
    content: "";
    font-family: FontAwesome;
    font-size: 16px;
    color: #daf5f9;
}

.search-icon {
    color: #daf5f9;
}

.header-link {
    position: absolute;
    height: 70px;
    display: flex;
    align-items: center;
    font-size: 2em;
    color: #d1e1f9;
    padding-left: 15px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    transition: 0.5s;
    text-decoration: none;
    top: 0;
}

.header-link:hover {
    color: white;
    text-shadow: 0 0 5px #d1e1f9;
}


@media (max-width: 1280px) {
    .header-link{
        left: 65px;
    }
}
.admin-link {
    width: 140px;
    right: 20px;
    position: absolute;
    background-color: #2e2e38;
    border-radius: 15px;
    height: 50px;
}

.profile {
    position: relative;
    float: right;
    margin-top: 4px;
    margin-left: 20px;
    justify-content: space-evenly;
}

.imgBx-header {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.imgBx-header img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-link-header {
    margin: 15px -70px;
    border-radius: 0.5rem;
    width: auto;
    position: absolute;
    background-color: #2e2e3896;
    backdrop-filter: blur(40px);
    min-width: 200px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 9999;
}

.profile-link-header ul li a .icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    height: 30px;
    font-size: 1.5em;
    color: #d1e1f9;
    transition: 0.5s;
}

.profile-link-header ul li a .text {
    position: relative;
    align-items: center;
    font-size: 1em;
    color: #d1e1f9;
    padding-left: 15px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    transition: 0.5s;
    text-decoration: none;
    margin-left: 0px;
}

.profile-link-header li a div{
    display: inline-block;
}

.profile-link-title-in {
    display: flex;
}

.profile-link-header ul li a{
    position: relative;
    display: flex;
    height: 50px;
    justify-content: left;
    align-items: center;
}