.loader-container {
  position: fixed;
  background-color: var(--clr);
  width: 100%;
  height: 100%;
  z-index: 9999;
}

.loader {
  width: 420px;
  height: 358px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.loader .miku-dance {
  position: relative;
  position: fixed;
  background-image: url(/templates/ai-anime/images/miku-loader.gif);
  width: 332px;
  height: 358px;
}

.hide-loader {
  animation: hideLoaderAnimation 0.3s ease forwards;
}

.show-loader {
  animation: hideLoaderAnimation 0.3s ease forwards;
}


@keyframes hideLoaderAnimation {
  100% {
    opacity: 1;
    visibility: visible;
  }
  0% {
    opacity: 0;
    visibility: hidden;
    display: none;
  }
}

@keyframes showLoaderAnimation {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
    display: none;
  }
}


/*
.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #1e1e26;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
  }
  
  .loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  */