:root {
    --clr: #1e1e26;
    --main: #393949;
    --active: #d1e1f9;
}

.privacy-policy {
    position: relative;
    margin: 90px auto;
    width: 800px;
    background-color: var(--main);
    color: rgb(223, 223, 223);
    padding: 100px 100px 100px 100px;
    border-radius: 15px;
    line-height: 20px;
}

.privacy-policy-h1 {
    text-align: center;
}

#searchsuggestions {
    z-index: 2200;
    width: 300px;
    border-radius: 15px;
    background-color: #1e1e269f;
    backdrop-filter: blur(40px);
    box-shadow: 0 8px 40px -10px rgba(0,0,0,0.3);
    border: 1px solid #ddd;
    border-color: rgba(0,0,0,0.2);
    background-clip: padding-box;
    font-size: .9em;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
#searchsuggestions a, #searchsuggestions span.notfound {
    padding: 15px 25px;
    display: block;
    text-decoration: none;
    border-bottom: 1px solid #e5e5e5;
}
#searchsuggestions a {
    color: #dfdfdf;
    transition: 0.3s;
}
#searchsuggestions a:hover {
    background-color: #d1e1f9;
    color: black;
}
#searchsuggestions a span {
    display: block;
    cursor: pointer;
}
#searchsuggestions span.searchheading {
    display: block;
    font-weight: bold;
    margin-bottom: .2em;
}
#searchsuggestions span.seperator {
    display: block;
}
#searchsuggestions span.seperator a {
    padding: 10px 0;
    text-align: center;
    border: 0 none;
    background-color: transparent;
    color: #dfdfdf;
}
#searchsuggestions span.notfound {
    padding: 15px 25px;
    display: block;
}
#searchsuggestions .break {
    display: none;
}


/* ------- random anime ------*/

.random-anime {
    background-color: var(--clr);
    width: auto;
    border-radius: 15px;
    padding: 20px;
}

.random-anime-title>h3 {
    color: white;
    font-weight: normal;
    margin-bottom: 20px;
    text-align: center;
}

.random-anime .poster-box{
    width: 300px;
}

.random-anime .poster-box img{
    width: 300px;
    height: 440px;
}

.random-anime .title-text {
    display: none !important;
}

.random-anime .description-short-box h3 {
    text-align: left !important;
    font-size: 0.95em;
    font-weight: normal;
}

.random-anime .box:hover{
    box-shadow: none;

}

.random-anime .description-short-box {
    margin-left: 5px !important;
}

.random-anime .box {
    margin-bottom: 0px !important;
}

.random-anime span {
    margin-top: 10px !important;
}