@font-face {
    font-family: 'ubuntu';
    src: url('/templates/ai-anime/fonts/ubuntu-medium.woff2');
}

:root {
    color-scheme: dark;
    /* clr менять вместе с header-back-clr 
    #131318 -> (9f)
    */
    --clr: #131318;
    --header-back-clr: #1313189f;

    --main: #262630;
    --active: #d1e1f9;
    --main-text: #fff;
    --second-text: #d4d4d4;
    --second-text-2: #c4c4c4;
    --badge-bright: #E9E9E9;
    --badge-dark: #1e1e26;
    --search-form: #1f1f25;
    --badge-poster-box: #fff;
    --box-shadow-hover: #00000060;
    --btn-play-poster: #fff;
    --main-h1: #fff;
    --line: #8d8d8d;
    --active-2: #68a5ff;
    --btn-active-font-clr: #000;
    --red: #ff4848;
    --red-1: #ff6161;
    --font-color-dark: #000;
    /*
    --left-light: #265157;
    --right-light: #28414b;
    */
}

::selection {
    background: #d1e1f9;
    color: #000;
}

::-moz-selection {
    background: #d1e1f9;
    color: #000;
}


/*
:root {
    color-scheme: dark;
    --clr: #1e1e26;
    --main: #393949;
    --active: #d1e1f9;
    --main-text: #fff;
    --second-text: #d4d4d4;
    --second-text-2: #c4c4c4;
    --badje: #E9E9E9;
}
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'ubuntu';
}

body {
    display: block;
    min-height: 100vh;
    background: var(--clr);
    font-family: 'ubuntu';
}

ul li {
    list-style: none;
}


.wrap {
    margin-top: 70px;
}


/*---------- MOBILE MENU -------------*/

.overlay {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1001;
    transition: opacity 0.5s ease, visibility 0.5s;
}


.openbtn,
.sidebar-mobile-menu {
    display: none;
}

.sidebar-mobile-menu {
    position: absolute;
    width: 330px;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--clr);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 1002;
    overflow-y: auto;
}

.sidebar-mobile-menu a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidebar-mobile-menu a:hover {
    color: #f1f1f1;
}

.sidebar-mobile-menu .closebtn {
    position: absolute;
    top: 0;
    right: 0px;
    font-size: 45px;
    padding: 5px;
    color: var(--line);
    transition: 0.3s;
}

.sidebar-mobile-menu .closebtn:hover {
    color: var(--active);
}

.openbtn {
    position: absolute;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 70px;
    cursor: pointer;
    background-color: transparent;
    color: var(--active);
    border: none;
    font-size: 3em;
}

.openbtn:hover {
    background-color: transparent;
}

.wrap {
    transition: margin-left .5s;
}

.sidebar-mobile-menu .main-menu-list ul {
    list-style: none;
}

.sidebar-mobile-menu .main-menu-list .text {
    font-size: 0.60em;
    color: var(--main-h1);
    font-weight: normal;
}

.sidebar-mobile-menu .main-menu-list .icon {
    font-size: 1em;
    margin-right: 20px;
    color: var(--active);
    display: flex;
    align-items: center;
}

.sidebar-mobile-menu .main-menu-list li a {
    display: flex;
    align-items: center;
    padding: 16px 0px 16px 20px;
}

.sidebar-mobile-menu .mobile-menu {
    margin-top: 50px;
    width: 330px;
}

.sidebar-mobile-menu .background-top {
    position: absolute;
    background-color: #393949;
    width: 520px;
    height: 100px;
    background-image: url(/templates/ai-anime/images/head-img.jpg);
    background-size: 100%;
    top: 0;
    left: 0;

}

.profile-photo-mobile-icon {
    font-size: 1em;
    margin-right: 15px;
    color: var(--active);
    display: flex;
    width: 30px;
    height: 30px;
}

.sidebar-mobile-menu .imgBx-mobile-menu img {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
}


/*------------- BACK LIGHT ----------- 

.left-light {
    position: absolute;
    left: 0;
    top: 0;
    width: 150%;
    height: 150%;
    opacity: .15;
    z-index: -20;
    pointer-events: none;
    background-image: radial-gradient(closest-side at 50% 50%,var(--left-light),transparent);
    transform: translateX(-50%) translateY(-50%);
}

.right-light {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: .15;
    z-index: -20;
    pointer-events: none;
    background-image: radial-gradient(closest-side at 50% 50%,var(--right-light),transparent);
    transform: translateX(50%) translateY(50%);
}
*/
/*--------------- privacy-policy -------------*/

.privacy-policy {
    position: relative;
    margin: 90px auto;
    width: 800px;
    background-color: var(--main);
    color: var(--second-text);
    padding: 100px 100px 100px 100px;
    border-radius: 15px;
    line-height: 20px;
}

.privacy-policy-h1 {
    text-align: center;
}

#searchsuggestions {
    z-index: 2200;
    width: 300px;
    border-radius: 15px;
    background-color: #1e1e269f;
    backdrop-filter: blur(40px);
    box-shadow: 0 8px 40px -10px rgba(0, 0, 0, 0.3);
    border: 1px solid #ddd;
    border-color: rgba(0, 0, 0, 0.2);
    background-clip: padding-box;
    font-size: .9em;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#searchsuggestions a,
#searchsuggestions span.notfound {
    padding: 15px 25px;
    display: block;
    text-decoration: none;
    border-bottom: 1px solid #e5e5e5;
}

#searchsuggestions a {
    color: #dfdfdf;
    transition: 0.3s;
}

#searchsuggestions a:hover {
    background-color: #d1e1f9;
    color: black;
}

#searchsuggestions a span {
    display: block;
    cursor: pointer;
}

#searchsuggestions span.searchheading {
    display: block;
    font-weight: bold;
    margin-bottom: .2em;
}

#searchsuggestions span.seperator {
    display: block;
}

#searchsuggestions span.seperator a {
    padding: 10px 0;
    text-align: center;
    border: 0 none;
    background-color: transparent;
    color: #dfdfdf;
}

#searchsuggestions span.notfound {
    padding: 15px 25px;
    display: block;
}

#searchsuggestions .break {
    display: none;
}

/*------------ HEADER ------------*/

.header {
    position: fixed;
    /*
    background-color: #1e1e269f;
    */
    background-color: var(--header-back-clr);
    backdrop-filter: blur(40px);
    height: 70px;
    z-index: 1000;
    width: 100%;
    top: 0;
    color: #fff;
    padding: 10px;
}

.in-header-content {
    max-width: 1200px;
    margin: 0 auto;
}

.search-container {
    position: relative;
    float: right;
    margin-top: 4px;
}

.header form {
    position: relative;
    width: 300px;
    margin: 0 auto;
    border-radius: 10px;
}

.d3 {
    width: 300px;
}

.d3 form {
    color: white;
    background-color: var(--search-form);
}

.d3 input,
.d3 button {
    border: none;
    outline: none;
    background: transparent;
    color: #dfdfdf;
}

.d3 input {
    width: 100%;
    height: 40px;
    padding-left: 15px;
}

.d3 button {
    height: 45px;
    width: 45px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

.d3 button:before {
    content: "";
    font-family: FontAwesome;
    font-size: 16px;
    color: #daf5f9;
}

.search-icon {
    color: #daf5f9;
}

.header-link {
    position: absolute;
    height: 70px;
    display: flex;
    align-items: center;
    font-size: 2em;
    color: #d1e1f9;
    padding-left: 15px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    transition: 0.5s;
    text-decoration: none;
    top: 0;
}

.header-link:hover {
    color: white;
    text-shadow: 0 0 5px #d1e1f9;
}


@media (max-width: 1280px) {
    .header-link {
        left: 65px;
    }
}

.admin-link {
    display: none;
    width: 140px;
    right: 20px;
    position: absolute;
    background-color: #2e2e38;
    border-radius: 15px;
    height: 50px;
}

.profile {
    position: relative;
    float: right;
    margin-top: 4px;
    margin-left: 20px;
    justify-content: space-evenly;
    cursor: pointer;
}

.imgBx-header {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.imgBx-header img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-link-header {
    visibility: hidden;
    margin: 15px -50px;
    border-radius: 0.5rem;
    width: auto;
    position: absolute;
    background-color: var(--main);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    box-shadow: 0 0px 17px #00000062;
}

.profile-link-header ul li a .icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    height: 30px;
    font-size: 1.2em;
    color: #d1e1f9;
    transition: 0.3s;
}

.profile-link-header ul li a .text {
    position: relative;
    align-items: center;
    font-size: 0.8em;
    color: #d1e1f9;
    padding-left: 15px;
    padding-right: 15px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    transition: 0.3s;
    text-decoration: none;
}

.profile-link-header li a div {
    display: inline-block;
}

.profile-link-title-in {
    display: flex;
}

.profile-link-header ul li a {
    position: relative;
    display: flex;
    min-width: 140px;
    height: 50px;
    justify-content: left;
    align-items: center;
    width: 100%;
    border-radius: 0.5rem;
    transition: 0.3s;
    text-decoration: none;
}

.profile-link-header ul li a:hover {
    background-color: #d1e1f9;
    color: black;
    border-radius: 0.5rem;
}

.profile-link-header ul li a:hover .color-in-header-menu {
    color: black;
}

.show {
    visibility: visible;
    opacity: 1;
}


/* ------- random anime ------*/

.random-anime {
    background-color: var(--clr);
    width: auto;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 10px;
}

.random-anime-title>h3 {
    color: white;
    font-weight: normal;
    margin-bottom: 20px;
    text-align: center;
}

.random-anime .poster-box {
    width: 300px;
}

.random-anime .poster-box img {
    width: 300px;
    height: 440px;
}

.random-anime .title-text {
    display: none !important;
    font-size: 1.5em !important;
}

.random-anime .description-short-box h3 {
    text-align: left !important;
    font-size: 0.95em;
    font-weight: normal;
}

.random-anime .box:hover {
    box-shadow: none;

}

.random-anime .description-short-box {
    margin-left: 5px !important;
}

.random-anime .box {
    margin-bottom: 0px !important;
}


/* ----------- WELCOME MSG ----------*/

.welcome-message {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    bottom: 15px;
    background-color: var(--clr);
    border-radius: 15px;
    z-index: 9999;
    padding: 1.25rem;
    max-width: 55rem;
    right: 0;
    left: 0;
    margin: auto;
    box-shadow: 0 0px 15px #00000067;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.show {
    visibility: visible;
    opacity: 1;
}



.welcome-message p {
    color: #f0f0f0;
    font-weight: normal;
    font-size: 0.90em;
}

.welcome-message a {
    color: #6fa9ff;
    font-weight: normal;
    font-size: 0.90em;
    margin-left: 3px;
    margin-right: 3px;
    transition: 0.3s;
}

.welcome-message a:hover {
    color: white;
}

.welcome-message span {
    background-color: #d1e1f9;
    display: flex;
    color: black;
    align-items: center;
    justify-content: center;
    height: auto;
    cursor: pointer;
    border-radius: 0.5rem;
    font-size: 0.85em;
    font-weight: 500;
    white-space: nowrap;
    width: 97px;
    padding: 5px;
    transition: 0.3s;
}

.welcome-message span:hover {
    background-color: white;
}

.welcome-message-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.welcome-message-text {
    display: flex;
}

/* ---------- SIDE BLOCK ---------*/

.main {
    position: relative;
    display: block;
    margin: auto;
    width: 1300px;
}


.contaner-flex {
    display: flex;
}

.side-block-main {
    margin-left: 20px;
    margin-top: 20px;
    background-color: var(--main);
    width: 360px;
    height: auto;
    border-radius: 15px;
    padding: 10px;
}

.side-block-related-news {
    margin-left: 20px;
    background-color: var(--main);
    width: 360px;
    height: auto;
    border-radius: 15px;
    padding: 10px;
}

.side-block-related-news .box {
    background-color: var(--clr);
    width: auto;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 10px;
}

.side-block-related-news .news-block .title-text {
    display: none;
}

.side-block-related-news .description-short {
    color: white;
    font-size: 1.1em;
    margin-bottom: 5px;
}

.side-block-related-news .description-short-box h3 {
    text-align: left !important;
    font-size: 0.95em;
    font-weight: normal;
}

.side-block-related-news .poster-box,
.side-block-related-news .poster-box img {
    width: 300px;
}

.side-block-related-news .news-block .description-short-box {
    margin-left: 0 !important;
}

/* ------------ TOP MENU ------------*/

.top-block-main {
    position: relative;
    background-color: #393949;
    width: 1300px;
    height: 250px;
    border-radius: 15px;
    background-image: url(/templates/ai-anime/images/head-img.jpg);
    background-size: 100%;
}

.top-menu-block {
    height: auto;
    width: 100%;
    position: relative;
    background-color: var(--main);
    margin-bottom: 20px;
    border-radius: 15px;
    top: 20px;
}

.top-menu-block ul {
    display: flex;
    justify-content: center;
}

.top-menu-block a {
    display: flex;
    font-size: 14px;
    padding: 22px;
    margin: 0px;
    transition: 0.3s;
    cursor: pointer;
}

.top-menu-block a {
    color: #fff;
    text-decoration: none;
}

.top-menu-block a:hover {
    background-color: #d1e1f9;
    color: black;
}

.icon-menu {
    color: white;
    display: flex;
    font-size: 25px;
    padding: 17px;
    margin: 0px;
    transition: 0.3s;
    cursor: pointer;
}

.top-menu-block {
    transition: height 0.5s;
}

.top-menu-content {
    padding: 15px;
    background-color: var(--clr);
    z-index: 9999;
    transition: height 0.5s;
    overflow: hidden;
    margin: 15px;
    height: 0px;
    border-radius: 15px;
}

.expanded {
    height: 600px;
}

.visible-content {
    height: 505px;
}

.hide-ico {
    display: none;
}

.up {
    display: none;
}

.visible-ico {
    display: block;
}

.top-menu-content {
    display: none;
}

.top-menu-block .filter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-menu-block .filter-menu {
    position: relative;
}

.top-menu-block .filter-downcategory {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    list-style-type: none;
    border-radius: 0.45rem;
    background-color: var(--main);
    z-index: 9999;
    box-shadow: 0 0px 25px #000000c2;
    padding: 15px;
}

.top-menu-block .filter-downcategory a {
    border-radius: 0.45rem;
}

.top-menu-block .filter-downcategory a:hover {
    border-radius: 0.45rem;
}

.top-menu-block .filter-downcategory li {
    columns: 4;
}


.top-menu-block .filter-downcategory li a {
    padding: 10px !important;
}

/* ----------------- FOOTER -----------------*/

footer {
    position: absolute;
    height: auto;
    width: 100%;
    background-color: var(--main);
    margin-top: 20px;
}


.footerColumns {
    position: relative;
    padding-top: 20px;
    display: flex;
}

.column {
    margin-right: 50px;
    display: inline-block;
}

.column-list-item {
    cursor: pointer;
    -webkit-transition: all 0.15s;
    -o-transition: all 0.15s;
    transition: all 0.15s;
}

.column-list-item a {
    color: #fff;
    font-family: 'Noto Sans', sans-serif;
    font-size: 0.8em;
    line-height: 23px;
    -webkit-transition: all 0.15s;
    -o-transition: all 0.15s;
    transition: all 0.15s;
    text-decoration: none;
}

.column-list-item a:hover {
    color: rgb(143, 143, 143);
    -webkit-transition: all 0.15s;
    -o-transition: all 0.15s;
    transition: all 0.15s;
}

.footerColumns h3 {
    font-size: 1em;
    font-family: 'Gotham Pro';
    color: rgb(255, 255, 255);
    font-weight: 600;
    margin-right: 20px;
    margin-bottom: .8em;
    height: auto;
}

.footer-content-container {
    margin: 0 auto;
    max-width: 980px;
    padding: 0 22px;
}

.copyright-footer {
    border-bottom: 1px solid #ffffff;
    margin-top: 20px;
}

.copyright-footer-text {
    float: left;
    font-family: 'Noto Sans', sans-serif;
    color: white;
    font-size: 0.8em;
    margin-top: 1em;
    padding-bottom: 10px;

    -webkit-transition: all 0.15s;
    -o-transition: all 0.15s;
    transition: all 0.15s;

}

.copyright-link {
    color: #d1e1f9;
    text-decoration: none;
}

.copyright-footer-text-dev {
    float: right;
    font-family: 'Noto Sans', sans-serif;
    color: white;
    font-size: 0.8em;
    margin-top: 1em;
    padding-bottom: 5px;
}

.development:hover {
    font-family: 'Noto Sans', sans-serif;
    color: rgb(224, 122, 255);

    -webkit-transition: all 0.15s;
    -o-transition: all 0.15s;
    transition: all 0.15s;
}

.copyright-link:hover {
    color: rgb(143, 143, 143);
    -webkit-transition: all 0.15s;
    -o-transition: all 0.15s;
    transition: all 0.15s;
}

/* --------- РАСПИСАНИЕ SIDE BLOCK ---------*/

.calendar {
    margin-bottom: 10px !important;
}

.side-block-main .calendar__item {
    max-width: 100%;
    background-color: var(--clr);
    border-radius: 15px;
    padding: 20px;
}

.side-block-main .calendar__item-date {
    display: none;
}

.side-block-main .calendar__item-date {
    margin-right: 0;
}

.side-block-main .calendar__item-bookmark {
    margin-left: 0px;
    margin-right: 2px;
}

.side-block-main .calendar__item-weekday h3 {
    text-align: left;
    color: white;
    margin-top: 5px;
    margin-bottom: 20px;
}

.side-block-main .show-more-schedules {
    color: white;
}

/* --------- NAVIGATION ---------*/

.navigation {
    width: 100%;
    padding: 0 20px 20px 20px;
}

.pages {
    text-align: left;
}


.pages a,
.pages span {
    height: 38px;
    line-height: 23px;
    min-width: 40px;
    text-decoration: none !important;
}

.pages a,
.pages span {
    display: inline-block;
    font-weight: 700;
    padding: 0.5rem;
    position: relative;
    text-align: center;
    border-radius: 0.5rem;
}

.pages a {
    color: #dddddd;
    transition: 0.3s;
}

.pages span {
    color: black;
    transition: 0.3s;
}

.page_next-prev,
.pages a:hover,
.pages span {
    --tw-bg-opacity: 1;
    --tw-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);
    --tw-shadow-colored: 0 1px 2px 0;
    background-color: var(--clr);
    border-radius: 0.5rem;
    font-size: 1em;
    color: #ffffff;
}

.page_next-prev {
    color: #929292;
    float: right;
    height: 36px;
    font-size: 1.5em;
}

.page_next-prev>span>* {
    float: left;
    padding: 6px 12px;
}

.page_next-prev a {
    color: white;
}

.calendar__item h3 {
    color: white;
    font-weight: normal;
    margin-bottom: 20px;
    text-align: center;
}

/* -------------- COMMENT --------------*/


.comment-box {
    width: 100%;
    margin-top: 1.5rem;
}

.addcomment,
.comm-item {
    max-width: 42rem;
    margin-left: auto;
    margin-right: auto;
}

.plus_icon {
    background-color: var(--clr);
    text-align: center;
    padding: 0.75rem;
    border-radius: 0.75rem;
    align-items: center;
    color: white;
}

.ui-form {
    width: 100%;
}

.form-group {
    display: flex;
    width: 100%;
}

.combo_field input {
    background-color: var(--clr) !important;
    border-radius: 0.5rem !important;
    border: none !important;
    display: block !important;
    font-size: .875rem !important;
    line-height: 1.25rem !important;
    padding: 0.75rem 1rem !important;
    margin-top: 5px !important;
    color: #ddd !important;
}

.combo_field_left {
    margin-left: 5px;
}

.bb-editor textarea {
    border-radius: 0.75rem !important;
    background-color: var(--clr) !important;
    border: none !important;
    color: #ddd !important;
    padding: 15px !important;
    margin-top: 5px !important;
}

.form_submit {
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;
}

.form_submit button {
    background-color: var(--clr);
    color: white;
    padding: 0.75rem;
    text-align: center;
    border-radius: 0.75rem;
    border: none;
    max-height: 40px;
    cursor: pointer;
    font-size: 1em;
    font-weight: normal;
    transition: 0.3s;
}

.form_submit button:hover {
    background-color: var(--active);
    color: black;
}

.form_submit button:active {
    background-color: white;
}

.form_submit b {
    font-weight: normal;
}

.c-captcha {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 15px;
}

.c-captcha input {
    background-color: var(--clr) !important;
    border-color: #000000 !important;
    color: white !important;
    padding: 0.75rem !important;
    border-radius: 0.75rem !important;
    max-height: 40px !important;
    margin-left: 5px !important;
    width: 170px !important;
}

.comments-tree-list {
    max-width: 42rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
}

.comm-item {
    position: relative;
    background-color: var(--clr);
    padding: 15px;
    border-radius: 0.75rem;
    margin-top: 10px;
    display: flex;
}

.delete-adm {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    right: 15px;
    top: 15px;
}

.comm-item .delete-adm input[type="checkbox"] {
    margin: -2px 0px 0 0;
}

.delete-adm a {
    color: var(--active);
    font-weight: normal;
    text-decoration: none;
    transition: 0.3s;
}

.delete-adm a:hover {
    color: var(--active-2);
}

.delete-adm b {
    color: var(--red);
}

.checkbox-choice {
    font-weight: normal;
    color: var(--second-text) !important;
}

.comm-right {
    margin-left: 15px;
    position: relative;
}

.comm-left img {
    border-radius: 50%;
    max-width: 50px
}

.comm-author a {
    font-size: 1.1em;
    font-weight: normal;
    color: var(--active);
    text-decoration: none;
    transition: 0.3s;
}

.comm-author a:hover {
    color: var(--active-2);
}


.comm-two {
    font-size: 1em;
    color: white;
    font-size: 1em;
    font-weight: normal;
    margin-top: 3px;
}

.online {
    color: #15ff00;
    text-align: center;
}

.offline {
    color: #a5a5a5;
    text-align: center;
}

.comm-three {
    margin-top: 3px;
    position: absolute;
    bottom: 0;
    transition: 0.3s;
}

.comm-three li a {
    color: var(--active);
    font-size: 1em;
    font-weight: normal;
    text-decoration: none;
    transition: 0.3s;
}

.comm-three li a:hover {
    color: var(--active-2);
}

.comm-three li {
    margin-right: 5px;
    text-align: end;
}

.mass_comments_action {
    max-width: 42rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    color: white;
    font-weight: normal;
    display: flex;
    align-items: center;
}

.mass_comments_action select {
    background-color: var(--clr);
    border-color: #6d6d6d;
    color: white;
    margin-left: 2px;
}

.mass_comments_action input {
    background-color: var(--active);
    color: black;
    border: none;
    padding: 5px;
    border-radius: 0.15rem;
    cursor: pointer;
}

.combo_field input:focus {
    border: 1px !important;
    border-color: var(--active) !important;
}


/* ----------- СТИЛИ ДЛЯ КНОПКИ ВВЕРХ  -----------*/

#scrollToTopBtn {
    position: fixed;
    text-align: center;
    display: flex;
    bottom: 20px;
    right: 20px;
    visibility: hidden;
    color: black;
    background-color: #d1e1f9;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

#scrollToTopBtn.show {
    visibility: visible;
    opacity: 1;
}


/*------------- НОВОСТИ -------------*/

.title-news {
    color: white;
    font-size: 2em;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 30px;
}

.news-page-static {
    position: relative;
    width: 1200px;
    height: auto;
    font-size: 14px;
    line-height: 18px;
    overflow: hidden;
    background-color: #393949;
    border-radius: 15px;
    padding: 20px;
    margin: 90px auto;
}

.news-container .box {
    max-width: 100%;
    background-color: #1e1e26;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
}

.items_news .news-block-hidden {
    display: none;
}

.news-block-hidden {
    position: relative;
    display: flex;
}

.news-block .title-text {
    margin-left: 20px;
    display: block;
}

.news-block>.description-short-box {
    margin-left: 20px;
    display: block;
}

.news-block a {
    text-decoration: none;
}

.news-container .poster-box {
    width: 283px;
    height: 422px;
}

.news-container .box-shortstory {
    display: flex;
}

/*---------- ОБРАТНАЯ СВЯЗЬ -----------*/

.feedback-container {
    position: relative;
    display: block;
    margin: auto;
    width: 900px;
    margin-top: 70px;
    border-radius: 15px;
    background-color: var(--main);
    padding: 20px;
}

.feedback-box h4 {
    color: white;
    font-weight: normal;
    text-align: center;
    margin-bottom: 13px;
}

.form-group {
    margin-bottom: 10px;
}

.form-group input {
    width: 100%;
    background-color: var(--clr) !important;
    border-radius: 0.5rem !important;
    border: none !important;
    display: block !important;
    font-size: .875rem !important;
    line-height: 1.25rem !important;
    padding: 0.75rem 1rem !important;
    margin-bottom: 0px !important;
    color: #ddd !important;
}

.form-group textarea {
    width: 100% !important;
    border-radius: 0.75rem !important;
    background-color: var(--clr) !important;
    border: none !important;
    color: #ddd !important;
    padding: 15px !important;
    margin-top: 0px !important;
}

.form-group label {
    color: white;
    font-size: 1em;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 10px;
    margin-bottom: 0.3em;
}

.form-group select {
    background-color: var(--clr);
    border-color: black;
    color: white;
    border-radius: 0.5rem !important;
    height: 44px;
}

.form-group:first-child {
    margin-right: 0.5em;
}

.feedback-box .combo_field {
    margin-right: 10px;
}

.feedback-box .form_submit button {
    margin-right: 0px !important;
}

.checkbox {
    display: flex;
    height: 100%;
    bottom: 0px;
}

/* ----------- RULES PAGE ----------*/

.rules-page {
    position: relative;
    margin: 90px auto;
    width: 800px;
    background-color: var(--main);
    color: rgb(223, 223, 223);
    padding: 100px 100px 100px 100px;
    border-radius: 15px;
    line-height: 20px;
}

/*------------ USER INFO -------------*/

.user-info {
    position: relative;
    overflow: hidden;
    width: 920px;
    margin: 70px auto;
    background-color: var(--main);
    border-radius: 15px;
}

.user-info .title {
    display: none;
}

.user-info .box:hover {
    box-shadow: unset;
}

.background-photo {
    width: 100%;
    height: 200px;
    position: absolute;
    top: 0;
    overflow: hidden;
    object-fit: cover;
}

.background-photo img {
    height: unset;
    width: 100%;
    z-index: 3;
    filter: blur(15px);
}

.avatar-photo-box {
    width: 130px;
    height: 130px;
    object-fit: cover;
    border-radius: 50%;
    z-index: 4;
    margin-top: 130px;
    background-color: var(--main);
}

.avatar-photo {
    display: flex;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 15px auto;
}

.user-info .avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-info .avatar span {
    font-size: 2em;
    margin-top: 0;
}

.user-info .usinf li {
    display: flex;
    margin-right: 1em;
}

.user-info .usinf li div:first-child {
    margin-right: 0.4em;
}

.user-info .usinf li div:last-child {
    margin-right: 0.4em;
    color: var(--active);
}

.user-info .form-group {
    display: flex;
    flex-direction: column;

}

.user-info input {
    width: unset;
}

.user-info .user-1 {
    display: flex;
}

.user-info .btn-ignore {
    position: absolute;
    background-color: var(--header-back-clr);
    border-radius: 0.5rem;
    display: inline-block;
    font-size: 0.9em;
    line-height: 1rem;
    border: none;
    padding: 10px;
    margin: 15px;
    right: 0;
    cursor: pointer;
    z-index: 5;
    color: var(--btn-play-poster);
    transition: 0.2s;
}

.user-info .btn-ignore:hover {
    background-color: var(--red);
}

.heading {
    font-weight: normal;
    font-size: 1.7em;
    text-align: center;
    margin-bottom: 1em;
}

.tab-pane {
    margin: 0 auto;
    padding: 30px;
}

.form-group textarea {
    width: 100%;
    height: 100%;
}

.panel-clr {
    background-color: var(--clr);
    border-radius: 15px;
    margin: 30px;
    padding: 15px;
}

.table-1 {
    display: flex;
    min-width: 100%;
    justify-content: space-around;
}

.table-1 table {
    max-width: 50%;
    margin: 15px;
    width: 100%;
    border-collapse: collapse;
}

.table-1 tr {
    font-size: .875rem;
    line-height: 1.25rem;
}

.ui-c1 {
    text-align: left;
}

.ui-c2 {
    text-align: right;
}

.table-1 th {
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    border-bottom: 1px solid var(--line);
}

.heading-info {
    color: var(--main-h1);
    font-size: 1.2em;
    text-align: left;
    margin: 10px;
}

.info-profile {
    background-color: var(--clr);
    border-radius: 15px;
    padding: 15px;
}

.profile-info {
    padding: 0 30px 15px 30px;
}

.usinf {
    margin: 15px;
}

.avatar a {
    color: var(--second-text);
    text-decoration: none;
    transition: 0.3s;
}

.avatar a:hover {
    color: var(--active-2);
}

.edit-profile {
    padding: 0 0 0 30px;
}

.edit-profile button {
    background-color: var(--clr);
    display: flex;
    color: white;
    padding: 0.75rem;
    text-align: center;
    border-radius: 0.75rem;
    border: none;
    margin-right: 5px;
    max-height: 40px;
    cursor: pointer;
    font-size: 1em;
    font-weight: normal;
    transition: 0.3s;
    align-items: center;
}

.edit-profile buttonx:hover {
    background-color: var(--active);
    color: var(--btn-active-font-clr)
}

.user-info-edit {
    overflow: hidden;
    transition: height 0.3s ease-in-out;
}

.expanded {
    max-height: auto;
    display: block;
}


/* ---------- PM ----------*/

.pm-container input[type="text"] {
    background-color: var(--clr) !important;
    border: none !important;
    border-radius: 0.75rem !important;
    padding: 10px !important;

}

.ui-dialog label {
    color: var(--second-text) !important;
    margin-top: 5px;
}

.pm-container {
    position: relative;
    overflow: hidden;
    width: 920px;
    margin: 70px auto;
    background-color: var(--main);
    border-radius: 15px;
    padding: 15px;
}

.pm-container .avatar a {
    color: var(--main-h1);
    transition: 0.3s;
}

.pm-container .avatar a:hover {
    color: var(--active-2);
}

.pm-container .box:hover {
    box-shadow: none;

}

.pm-menu {
    height: 50px;
    width: 100%;
    position: relative;
    background-color: var(--clr);
    margin-bottom: 20px;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.pm-menu ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.pm-menu a {
    background-color: var(--clr);
    color: var(--main-h1);
    padding: 1rem;
    text-align: center;
    cursor: pointer;
    font-size: 1em;
    font-weight: normal;
    transition: 0.3s;
    text-decoration: none;
}

.pm-menu a:hover {
    background-color: var(--active);
    color: var(--btn-active-font-clr);
}

.pm-container .pm tbody {
    background-color: var(--clr);
}

.pm tbody tr td {
    padding: 5px;
    border-radius: 0.25rem;
}

.pm-container .title {
    display: none;
}

.pm_list a,
.pm_list b {
    color: var(--active);
    text-decoration: none;
    transition: 0.3s;
    font-weight: normal;
}

.pm_list a:hover,
.pm_list a:hover,
.pm_list b:hover {
    color: var(--active-2);
}

.pm-container img {
    border-radius: 50%;
    max-width: 60px;
}

.pm select {
    background-color: var(--main);
    color: var(--main-text);
    border-color: var(--clr);
    display: flex;
    width: 100%;
}

.bbcodes {
    background-color: var(--main);
    display: flex;
    color: white;
    padding: 0.75rem;
    text-align: center;
    border-radius: 0.75rem;
    border: none;
    margin-right: 5px;
    max-height: 40px;
    cursor: pointer;
    font-size: 1em;
    font-weight: normal;
    transition: 0.3s;
    align-items: center;
}

.bbcodes:hover {
    background-color: var(--active) !important;
    color: var(--btn-active-font-clr) !important;
}

.pm_status {
    display: none;
}

.meta ul {
    display: flex;
}

.meta ul a {
    background-color: var(--active);
    display: flex;
    color: var(--btn-active-font-clr);
    align-items: center;
    justify-content: center;
    height: auto;
    cursor: pointer;
    border-radius: 0.5rem;
    font-weight: 500;
    white-space: nowrap;
    width: auto;
    margin-top: 15px;
    padding: 8px;
    font-size: 0.9em;
    transition: 0.3s;
    text-decoration: none;
}

.pm-container .icon-pm {
    font-size: 0.9em;
}

.meta ul li {
    display: flex;
    margin-right: 7px;
}

.meta ul li:last-child a {
    background-color: #ff4848;
    color: white;
}

.meta a span {
    margin-left: 3px;
}

.pm-container .com_content .text {
    background-color: var(--clr);
    border-radius: 15px;
    color: var(--main-text);
    padding: 15px;
    margin: 7px 0 15px 0;
}

.pm-container .com_info .com_user {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    color: var(--main-text) !important;
    padding: 0 5px 0 5px;
    align-items: center;
}

.pm-container .avatar-pm-box {
    display: flex;
    align-items: center;
    background-color: var(--clr);
    padding: 15px;
    border-radius: 15px;
    width: auto;
}

.pm-container .avata-pm-text .name {
    margin-left: 10px;
    color: var(--main-h1) !important;
    font-weight: normal;
    font-size: 1em;
}

.pm-container .form_submit button {
    display: flex;
    align-items: center;
}

.pm-container .avata-pm-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.pm-container .avata-pm-text .online,
.pm-container .avata-pm-text .offline {
    margin-left: 11px;
    font-size: 0.9em;
}

.pm-container .line {
    padding-top: 25px;
}

.pm-container .combo_field {
    margin-right: 10px;
}

.pm-container .user-group {
    font-size: 0.8em;
    margin-left: 11px;
}

.pm-container .com_user span {
    display: flex;
    align-items: center;
}

.pm-container .com_user span p {
    font-size: 0.9em;
    color: var(--font-color-dark);
    margin-left: 5px;
    background-color: var(--second-text);
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;
}

.wrote-a-message {
    font-size: 1.1em;
    font-weight: normal;
    color: var(--main-h1);
    margin-top: 40px;
    text-align: center;
}

.pm-container .com_content a {
    color: var(--active-2);
}

/*------------- MAIN SORT ------------*/

.sort-main {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    background-color: var(--clr);
    border-radius: 0.75rem;
    justify-content: space-between;
    text-transform: capitalize;
}

.sort-main span {
    color: var(--main-text);
    margin-left: 15px;
    font-size: 0.85em;
}

.sort-main a {
    display: flex;
    font-size: 0.85em;
    padding: 10px;
    margin: 0px;
    transition: 0.3s;
    cursor: pointer;
    text-decoration: none;
    color: var(--active);
    border-radius: 0.75rem;
    transition: 0.3s;
}

.sort-main a:hover {
    background-color: var(--active);
    color: var(--btn-active-font-clr);
}

.sort-main form ul {
    display: flex;
    flex-direction: row;
}

/* ---------- OPTIMIZATION ----------*/

@media (max-width: 1280px) {
    .full-story-body {
        width: 920px;
        margin: 40px auto !important;
    }
}

@media (max-width: 830px) {

    .rules-page,
    .privacy-policy {
        width: auto;
        padding: 30px;
    }
}

@media (max-width: 1322px) {
    .side-block-main {
        display: none;
    }

    .contaner-flex {
        width: 920px;
    }

    .top-block-main,
    .top-menu-block {
        width: 920px;
    }

    .top-block-main {
        height: 177px;
    }

    .main {
        margin: auto;
        width: 920px;
    }

    .full-story-body {
        width: 920px !important;
    }

    .side-block-related-news {
        display: none;
    }
}



@media (max-width: 480px) {
    footer {
        width: 100%;
    }

    .wrap {
        margin-top: 70px;
    }
    
    .openbtn {
        display: flex;
    }

    .sidebar-mobile-menu {
        display: block;
    }

    .profile,
    .sort-main {
        display: none;
    }

    .full-story-body {
        margin: 20px auto !important;
    }

    .main__content {
        max-width: auto !important;
    }

    .main-container {
        max-width: 412px !important;
    }

    .main-container {
        margin: auto;
    }

    .items_news {
        display: flex !important;
        flex-direction: column;
        align-items: center;
    }

    .side-block-main,
    .side-block-related-news,
    .description-short-box {
        display: none;
    }

    .header,
    .contaner-flex,
    .main {
        width: 100%;
    }

    .top-block-main {
        width: auto;
        height: 79px;
        margin: auto;
    }

    .logo-footer {
        display: none;
    }

    .top-menu-block {
        display: none;
    }

    .footerColumns .column {
        margin-right: 15px;
    }

    .full-story-body,
    .about-anime,
    .title-text-container,
    .original-title {
        max-width: 412px !important;
    }

    .title-text-container,
    .original-title {
        text-align: center;
        font-size: 1.35em !important;
    }

    .watch-pannel {
        position: relative !important;
        text-align: center !important;
        right: unset !important;
        bottom: 0 !important;
    }

    .original-title {
        margin-bottom: 20px;
    }

    .full-story {
        flex-direction: column;
        align-items: center;

    }

    .d3 {
        width: 162px;
    }

    .header-link {
        left: 55px;
    }

    .in-header-content {
        display: flex;
        justify-content: space-between;
    }

    .header form {
        width: auto !important;
    }

    .full-poster-box {
        top: 45px;
    }

    .background-fullstory {
        height: 500px !important;
    }

    .js-toggle-fav span {
        margin-top: -2px !important;
    }

    .full-box {
        height: 500px !important;
        margin-right: unset !important;
    }

    .title-text-container {
        text-align: center;
        font-weight: 700;
        margin: 0 0 0 0;
    }

    .about-anime {
        height: auto !important;
        display: inline;
    }

    .bottom-items {
        right: unset !important;
    }

    .anime-information {
        max-width: 100% !important;
        bottom: unset !important;
        position: relative !important;
        box-shadow: 0 0px 25px #0000004f !important;
    }

    .pretimer {
        margin-top: 10px !important;
        border-radius: 15px !important;
        display: flex !important;
        align-items: center !important;
        flex-direction: column;
        text-align: center;
    }

    .pretimer .rt {
        width: 100% !important;
        display: flex !important;
        justify-content: center !important;
    }

    .pretimer .lt {
        width: 100% !important;
    }

    .countdown-title,
    .countdown-text {
        text-align: center !important;
    }

    .pretimer .value,
    .pretimer .points {
        font-size: 2em !important;
    }

    .sim-slider-list {
        height: 209px !important;
    }

    .sim-slider-arrow-right {
        right: 10px !important;
        top: 50% !important;
    }

    .sim-slider-arrow-left {
        left: 10px !important;
        top: 50% !important;
    }

    .sim-slider-dots {
        bottom: 0 !important;
    }

    .box-player {
        width: 412px !important;
    }

    .kodik-player {
        height: 233px !important;
    }

    .feedback-container {
        width: 395px !important;
    }

    .form_submit {
        display: flex;
        flex-direction: column;
    }

    .form_submit button {
        margin-top: 10px;
    }

    .welcome-message-text {
        display: block !important;
    }

    .scrollToTopBtn {
        display: none !important;
    }

    .delete-adm {
        display: flex;
        flex-direction: column;
        position: relative;
        align-items: flex-start;
        right: 0;
        top: 0;
        background-color: var(--main);
        padding: 5px;
        border-radius: 0.45rem;
    }

    .mass_comments_action {
        flex-direction: column;
    }

    .comment-box .c-captcha {
        display: flex;
        margin-top: 20px;
        justify-content: space-around;
        align-items: center;
    }

    /* Стили для выпадающего меню */
    #news_set_sort {
        position: relative;
        display: inline-block;
    }

    /* ------- USER INFO ---------*/

    .user-info {
        width: auto
    }

    .table-1 {
        display: flex;
        min-width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .table-1 table {
        max-width: 100%
    }

    .user-info .user-1 {
        flex-direction: column;
    }

    /*---------- PM -----------*/

    .pm-container {
        width: auto;
    }

    .meta ul {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    }

    /* --------- SCHEDULE -------*/

    .schedule {
        width: auto !important;
    }

    .schedule .main-title {
        line-height: normal;
    }
}

;

/* DLE Friends v1.6 */
#no-friends {
    padding: 6px;
    border: 1px solid #C0D4DE;
    background-color: #F3F7F9;
    color: #507D98;
    margin: 10px 0;
}

.friends {
    margin-bottom: 10px;
}

.friends ul,
.prof-list {
    margin-top: 10px;
}

.friends li {
    width: 100px;
    text-align: center;
    float: left;
    margin-right: 10px;
}

.friends img {
    display: block;
    margin: 0 auto;
    width: 100px;
    height: 100px;
}

.friends_table h3 {
    margin-bottom: 6px;
    font-size: 14px;
    line-height: 14px;
    font-weight: bold;
}

.friends_table h3 a span {
    font-size: 12px;
    font-weight: normal;
    color: #6C838E;
}

.friends_table h3 a span:hover {
    text-decoration: underline;
}

.friends_table ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.friends_table td {
    padding: 10px;
    border-bottom: 1px solid #EEE;
    font-size: 12px;
    vertical-align: top;
}

.friends_table .active {
    background-color: #F8F8F8;
}

.contact_friends {
    width: 140px;
}

.contact_friends a,
.contact_friends span {
    display: block;
    padding: 6px;
    margin-bottom: 4px;
    line-height: 11px;
}

.contact_friends a:hover {
    background-color: #DAE7ED;
    text-decoration: none;
}

#allfriends .rcol {
    margin-top: 4px;
}

#allfriends h2.lcol a {
    text-decoration: underline;
}

#allfriends h2.lcol a:hover {
    text-decoration: none;
}

#friends_feed {
    margin: 0 15px;
}

#friends_feed table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 25px;
}

#friends_feed td {
    vertical-align: top;
    text-align: left;
}

#friends_feed td.f_avatar,
#friends_feed td.f_author {
    border: 1px solid;
    border-color: #ACCCDA #E2EDF2 #E2EDF2;
    vertical-align: middle;
    background-color: #F4F8FA;
}

#friends_feed td.f_avatar {
    width: 50px;
    border-spacing: 10px;
    padding: 2px;
    border-right-width: 0;
}

#friends_feed td.f_avatar img {
    width: 50px;
    height: 50px;
}

#friends_feed td.f_author {
    padding: 0 10px;
    border-left-width: 0;
    border-style: solid;
    font-size: 11px;
}

#friends_feed td.f_author h3 {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 4px;
}

#friends_feed td.f_story {
    padding: 15px 0;
}

#friends_feed .f_cover {
    width: 104px;
    max-height: 104px;
    overflow: hidden;
    margin-right: 10px;
    float: left;
    border: 1px solid #E2EDF2;
    background-color: #F4F8FA;
}

#friends_feed .f_cover img {
    width: 100px;
    padding: 2px;
}

#friends_feed td.f_det {
    border-top: 1px solid #E2EDF2;
    padding: 5px 0;
}

.feed_loader {
    padding: 10px;
    text-align: center;
    border-top: 1px solid #E2EDF2;
    color: #284B5A;
    margin-bottom: 20px;
}

.f_active:hover {
    border-color: #ACCCDA;
    background-color: #F4F8FA;
    cursor: pointer;
}