* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul li {
    list-style: none;
}

.main-container {
    background-color: #393949;
    width: 920px;
    max-width: 1200px;
    margin-top: 20px;
    border-radius: 15px;
}

.main-container h1 {
    color: white;
    text-align: center;
    font-size: 1.5em;
    font-weight: 500;
    margin-top: 15px;
}

.line {
    padding-top: 10px;
    margin: auto;
    border-bottom: 1px solid #8d8d8d;
    width: 880px;
}

.items_news {
    position: relative;
    display: block;
    columns: 3;
    padding: 20px 20px 0px 20px;
}

.box {
    max-width: 285px;
    margin-bottom: 20px;
    border-radius: 15px;
    transition: 0.5s;
}

.main-container .box {
    margin-bottom: 20px;
    break-inside: avoid;
    height: 423px;
    width: 285px;

}

@media (max-width: 1280px) {
    .items_news {
        columns: 3;
    }
}

@media (max-width: 768px) {
    .items_news {
        columns: 2;
    }
}

@media (max-width: 480px) {
    .items_news {
        columns: 1;
    }
}

.poster-box {
    width: 285px;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    background-color: black;
}

.poster-box img {
    width: 100%;
    height: 423px;
    width: 285px;
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.5s ease, transform 0.5s;
}

.title-overlay {
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 150px;
    padding: 20px;
    background: linear-gradient(0deg, #000000, #00000000);
    overflow: hidden;
}

.title-badge {
    bottom: 0;
}

.news-container .title-overlay {
    display: none;
}

.title-overlay h2.title {
    margin: 0;
}

.title-overlay .title-text {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    color: #ffffff;
    text-decoration: none;
    font-size: 0.7em;
}

.title {
    position: absolute;
    bottom: 10px;
    font-size: 1em;
    font-family: inherit;
    left: 10px;
    padding: 10px;
    color: #fff;
    transform: translateY(0);
    transition: transform 0.5s ease-in-out, margin-top 0.5s ease-in-out;
}

.description {
    margin: 0;
    padding-top: 25px;
    padding-bottom: 25px;
    color: #d3d3d3;
    font-family: Arial, sans-serif;
    line-height: normal;
    font-weight: lighter;
    font-size: 0.92em;
    opacity: 0;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.news-container .description {
    display: none;
}

.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 60px;
    color: #fff;
    font-size: 4em;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.news-container .play-button {
    display: none;
}

.poster-box:hover .description {
    transform: translateY(-20px);
    opacity: 1;
}

.poster-box:hover .description {
    transform: translateY(-20px);
    opacity: 1;
}

.poster-box:hover .play-button {
    opacity: 1;
}

.news-container .poster-box:hover img {
    transform: none;
    opacity: 1;
}

.poster-box:hover img {
    transform: scale(1.1);
    opacity: 0.5;
}

.poster-box .badge {
    background-color: #1e1e26;
    color: white;
    margin: 0;
}

.poster-badge {
    margin: 10px;
    position: absolute;
    z-index: 1;
    display: flex;
}

.poster-box p {
    opacity: 0;
    margin: 10px;
    position: absolute;
    right: 0;
    color: white;
    z-index: 1;
    transition: 0.5s;
}

.poster-box:hover p {
    opacity: 1;
}


.box:hover {
    box-shadow: 0 0px 17px #00000060;
}

.news-container .box:hover {
    box-shadow: none;
}

.play-scale {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 60px;
    color: #fff;
    font-size: 4em;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

/* ---------- SIDE BLOCK ---------*/

.main {
    position: relative;
    display: block;
    margin: auto;
    width: 1300px;
}


.contaner-flex {
    display: flex;
}

.side-block-main {
    margin-left: 20px;
    margin-top: 20px;
    background-color: #393949;
    width: 360px;
    height: 1300px;
    border-radius: 15px;
    padding: 10px;
}

.top-block-main {
    position: relative;
    margin-top: 90px;
    background-color: #393949;
    width: 1300px;
    height: 150px;
    border-radius: 15px;
}


/* --------- FOOTER -------------*/

footer {
    position: absolute;
    height: auto;
    width: 100%;
    background-color: #273655;
    margin-top: 20px;
}


.footerColumns {
    position: relative;
    padding-top: 20px;
    display: flex;
}

.column {
    margin-right: 50px;
    display: inline-block;
}

.column-list-item {
    cursor: pointer;
    -webkit-transition: all 0.15s;
    -o-transition: all 0.15s;
    transition: all 0.15s;
}

.column-list-item a {
    color: #fff;
    font-family: 'Noto Sans', sans-serif;
    font-size: 0.8em;
    line-height: 23px;
    -webkit-transition: all 0.15s;
    -o-transition: all 0.15s;
    transition: all 0.15s;
    text-decoration: none;
}

.column-list-item a:hover {
    color: rgb(143, 143, 143);
    -webkit-transition: all 0.15s;
    -o-transition: all 0.15s;
    transition: all 0.15s;
}

.footerColumns h3 {
    font-size: 1em;
    font-family: 'Gotham Pro';
    color: rgb(255, 255, 255);
    font-weight: 600;
    margin-right: 20px;
    margin-bottom: .8em;
    height: auto;
}

.footer-content-container {
    margin: 0 auto;
    max-width: 980px;
    padding: 0 22px;
}

.copyright-footer {
    border-bottom: 1px solid #ffffff;
    margin-top: 20px;
}

.copyright-footer-text {
    float: left;
    font-family: 'Noto Sans', sans-serif;
    color: white;
    font-size: 0.8em;
    margin-top: 1em;
    padding-bottom: 10px;

    -webkit-transition: all 0.15s;
    -o-transition: all 0.15s;
    transition: all 0.15s;

}

.copyright-link {
    color: #d1e1f9;
    text-decoration: none;
}

.copyright-footer-text-dev {
    float: right;
    font-family: 'Noto Sans', sans-serif;
    color: white;
    font-size: 0.8em;
    margin-top: 1em;
    padding-bottom: 5px;
}

.development:hover {
    font-family: 'Noto Sans', sans-serif;
    color: rgb(224, 122, 255);

    -webkit-transition: all 0.15s;
    -o-transition: all 0.15s;
    transition: all 0.15s;
}

.copyright-link:hover {
    color: rgb(143, 143, 143);
    -webkit-transition: all 0.15s;
    -o-transition: all 0.15s;
    transition: all 0.15s;
}

/* --------- РАСПИСАНИЕ SIDE BLOCK ---------*/

.side-block-main .calendar__item {
    max-width: 100%;
    background-color: #1e1e26;
    border-radius: 15px;
    padding: 15px;
}

.side-block-main .calendar__item-date {
    display: none;
}

.side-block-main .calendar__item-date {
    margin-right: 0;
}

.side-block-main .calendar__item-bookmark {
    margin-left: 0px;
    margin-right: 2px;
}

.side-block-main .calendar__item-weekday h3 {
    text-align: left;
    color: white;
    margin-top: 5px;
    margin-bottom: 20px;
}

.side-block-main .show-more-schedules {
    color: white;
}

/* --------- NAVIGATION ---------*/

.navigation {
    width: 100%;
    padding: 0 20px 20px 20px;
}

.pages {
    text-align: left;
}


.pages a,
.pages span {
    height: 38px;
    line-height: 23px;
    min-width: 40px;
    text-decoration: none !important;
}

.pages a,
.pages span {
    display: inline-block;
    font-weight: 700;
    padding: 0.5rem;
    position: relative;
    text-align: center;
    border-radius: 0.5rem;
}

.pages a {
    color: #dddddd;
    transition: 0.3s;
}

.pages span {
    color: black;
    transition: 0.3s;
}

.page_next-prev,
.pages a:hover,
.pages span {
    --tw-bg-opacity: 1;
    --tw-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);
    --tw-shadow-colored: 0 1px 2px 0;
    background-color: #1e1e26;
    border-radius: 0.5rem;
    font-size: 1em;
    color: #ffffff;
}

.page_next-prev {
    color: #929292;
    float: right;
    height: 36px;
    font-size: 1.5em;
}

.page_next-prev>span>* {
    float: left;
    padding: 6px 12px;
}

.page_next-prev a {
    color: white;
}